@model IList<AutoCadet.Models.CallMeViewModel>

@{
    ViewBag.Title = "Call Me Requests";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutWithLogin.cshtml";
}

<section class="container-fluid">
    <div class="container">
        @if (ViewBag.IsSuccess == true)
        {
            <div class="row text-success">
                Данные сохранены успешно
            </div>
        }
        <div class="row text-danger">
            @Html.ValidationSummary()
        </div>
        <div class="row">
            @using (Html.BeginForm("CallMeRequests", "Admin"))
            {
                <table class="table">
                    <thead>
                    <tr>
                        <th>Телефон</th>
                        <th>Requester Name</th>
                        <th>Запрос Обработан?</th>
                        <th>Инструктор</th>
                        <th>Created Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    @{
                        if (Model != null)
                        {
                            for (var i = 0; i < Model.Count; i++)
                            {
                                <tr>
                                    <td>
                                        @Html.HiddenFor(x => Model[i].Id)
                                        @Html.EditorFor(x => Model[i].Phone, new { @class = "form-control" })
                                    </td>
                                    <td>
                                        @Html.EditorFor(x => Model[i].RequesterName, new { @class = "form-control" })
                                    </td>
                                    <td>
                                        @Html.CheckBoxFor(x => Model[i].IsHandled, new {@class = "form-control"})
                                    </td>
                                    <td>
                                        @Html.DisplayFor(x => Model[i].InstructorName, new { @class = "form-control" })
                                    </td>
                                    <td>
                                        @Html.DisplayFor(x => Model[i].CreatedDate, new { @class = "form-control" })
                                    </td>
                                </tr>
                            }
                        }
                    }
                    </tbody>
                </table>
                <br/>
                <input type="submit" value="Save" class="btn btn-primary"/>
            }
        </div>
    </div>
</section>