@model IList<AutoCadet.Models.InstructorViewModel>

@{
    ViewBag.Title = "Instructors";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutWithLogin.cshtml";
}
<section class="container-fluid">
    <div class="container">
        @if (ViewBag.IsSuccess == true)
        {
            <div class="row text-success">
                Данные сохранены успешно
            </div>
        }
        <div class="row text-danger">
            @Html.ValidationSummary()
        </div>
        <div class="row">
            @using (Html.BeginForm("Index", "Admin"))
            {
                @Html.ValidationSummary()
                <table class="irstructors-table table">
                    <thead>
                    <tr>
                        <th>Редактировать</th>
                        <th>Ф.И.О.</th>
                        <th>Email</th>
                        <th>Телефон</th>
                        <th>URL</th>
                        <th>Цена</th>
                        <th>Активен?</th>
                        <th>Номер в списке</th>
                        <th>Картинка в списке</th>
                    </tr>
                    </thead>
                    <tbody>
                    @{
                        if (Model != null)
                        {
                            for (var i = 0; i < Model.Count; i++)
                            {
                                <tr>
                                    <td>
                                        @Html.HiddenFor(x => Model[i].Id)
                                        @Html.HiddenFor(x => Model[i].FirstName)
                                        @Html.HiddenFor(x => Model[i].LastName)
                                        @Html.ActionLink("Edit", "ManageInstructor", "Admin", new {instructorId = Model[i].Id}, null)
                                    </td>
                                    <td>
                                        @($"{Model[i].FirstName} {Model[i].LastName}")
                                    </td>
                                    <td>
                                        @Html.EditorFor(x => Model[i].Email)
                                    </td>
                                    <td>
                                        @Html.EditorFor(x => Model[i].Phone)
                                    </td>
                                    <td>
                                        @Html.EditorFor(x => Model[i].UrlName)
                                    </td>
                                    <td>
                                        @Html.EditorFor(x => Model[i].Price)
                                    </td>
                                    <td>
                                        @Html.CheckBoxFor(x => Model[i].IsActive, new {@class = "form-control"})
                                    </td>
                                    <td>
                                        @Html.EditorFor(x => Model[i].SortingNumber)
                                    </td>
                                    <td>
                                        @{
                                            if (Model[i].ThumbnailImage != null && Model[i].ThumbnailImage.Length > 0)
                                            {
                                                var base64String = Convert.ToBase64String(Model[i].ThumbnailImage);
                                                <img src="@($"data:image/png;base64,{base64String}")" width="50px" height="50px"/>
                                            }
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    }
                    </tbody>
                </table>

                <br/>
                <div class="row">
                    @Html.ActionLink("Create", "ManageInstructor", "Admin", null, new {@class = "btn btn-default"})
                    <input type="submit" value="Save" class="btn btn-primary"/>
                </div>
            }
        </div>
    </div>
</section>