@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="no-bg details-layout">
    <div class="container">
        <div class="intro-text">
            <div class="intro-heading">
                <h2 class="section-heading text-primary">@ViewBag.HeaderTitle</h2>
                @if (!string.IsNullOrWhiteSpace(ViewBag.HeaderSubTitle))
                {
                    <h3 class="section-subheading text-right">
                        <i>@ViewBag.HeaderSubTitle</i>
                    </h3>
                }
            </div>
        </div>
    </div>
</header>

<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Навигация</span> Меню <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="/">Уроки вождения</a>
            <span id="akciyaLink1"></span>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="/"></a>
                </li>
                <li>
                    <a href="/instructors">Инструкторы</a>
                </li>
                <li>
                    <a href="/obuchenie">Обучение</a>
                </li>
                <li>
                    <a href="/video">Видео Уроки</a>
                </li>
                <li>
                    <a href="/blog">Полезные советы</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<div class="container">
    <p>
        @RenderSection("breadcrumb", true)
    </p>
    <div class="row">
         @RenderSection("detailsH1", true)
    </div>
    @RenderSection("detailsH2", false)
</div>

@RenderBody()

@section scripts {
    @RenderSection("scripts", false)
}
