<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="info" content="@(ViewData["MetaInfo"] ?? "автоинструкторы минск")"/>
    <meta name="description" content="@(ViewData["MetaDescription"] ?? "курсы вождения, подготовка подителей, практика, практический экзамен в гаи")"/>
    <meta name="keywords" content="@(ViewData["MetaKeywords"] ?? "инструктор, авто, автомобиль, практика, обучение")"/>
    <meta name="title" content="@(ViewData["Title"] ?? "Авто инструктор")"/>
    <meta name="author" content="grishkov.ivan@gmail.com">
    <title>@(ViewData["Title"] ?? "Авто инструктор")</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    @*<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>*@
    @*<link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">*@
    <link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body id="page-top" class="index">
        @RenderBody()
        <hr />
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Авто-Курсант @DateTime.Now.Year</span>
                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/site-home-jquery.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.8";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
    <script type="text/javascript" src="http://vk.com/js/api/share.js?90" charset="windows-1251"></script>
</body>
</html>
