<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @if (ViewData["MetaInfo"] != null)
    {
        <meta name="info" content="@ViewData["MetaInfo"]"/>
    }
    @if (ViewData["MetaDescription"] != null)
    {
        <meta name="description" content="@ViewData["MetaDescription"]"/>
    }
    @if (ViewData["MetaKeywords"] != null)
    {
        <meta name="keywords" content="@ViewData["MetaKeywords"]"/>
    }
    <meta name="title" content="@(ViewData["Title"] ?? "Уроки вождения") - uroki-vozhdeniya.by"/>
    <meta name="author" content="grishkov.ivan@gmail.com">
    <title>@(ViewData["Title"] ?? "Уроки вождения")</title>
	<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TB4PPPV');</script>
<!-- End Google Tag Manager -->

    @Styles.Render("~/content/css")
</head>
<body id="page-top" class="index">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TB4PPPV"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

    @RenderBody()
    <hr />
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <button id="showCallMe" data-toggle="modal" class="btn btn-primary">Заказать Звонок</button>
                </div>
                <div class="col-md-6">
                    <ul class="list-group list-inline pull-right">
                        <li><a href="/instructors">ИНСТРУКТОРЫ</a></li>
                        <li><a href="/obuchenie">ОБУЧЕНИЕ</a></li>
@*                        <li><a href="/video">ВИДЕО УРОКИ</a></li>*@
                        <li><a href="/blog">ПОЛЕЗНЫЕ СОВЕТЫ</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <span class="copyright pull-right">Copyright &copy; <a href="/">uroki-vozhdeniya.by</a> @DateTime.Today.Year</span>
                </div>
            </div>
        </div>
    </footer>
<!-- Call Me Modal Dialog -->
<div id="callMeModal" class="modal fade" role="dialog">
    <div class="modal-dialog" id="callMePlaceholder">

    </div>
</div>

    @Scripts.RenderFormat("<script type='text/javascript' src='{0}'></script>", "~/bundles/jquery")
    @Scripts.RenderFormat("<script type='text/javascript' src='{0}' async></script>", "~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <noscript id="deferred-styles">
        @Styles.Render("~/content/fonts")
    </noscript>
    <script>
      var loadDeferredStyles = function() {
        var addStylesNode = document.getElementById("deferred-styles");
        var replacement = document.createElement("div");
        replacement.innerHTML = addStylesNode.textContent;
          document.body.appendChild(replacement);
        addStylesNode.parentElement.removeChild(addStylesNode);
      };
      var raf = requestAnimationFrame || mozRequestAnimationFrame ||
          webkitRequestAnimationFrame || msRequestAnimationFrame;
      if (raf) raf(function() { window.setTimeout(loadDeferredStyles, 0); });
      else window.addEventListener('load', loadDeferredStyles);
    </script>
</body>
</html>
