@model IList<AutoCadet.Models.InstructorViewModel>
<!-- Portfolio Grid Section -->
<div class="container">
    <div class="row">
        @foreach (var instructor in Model)
        {
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="@Url.Action("Instructors", new {prettyUrl = instructor.UrlName})" class="portfolio-link">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-list fa-3x"></i>
                        </div>
                    </div>
                    @{
                        if (instructor.ThumbnailImage != null && instructor.ThumbnailImage.Length > 0)
                        {
                            var base64String = Convert.ToBase64String(instructor.ThumbnailImage);
                            <img src="@($"data:image/png;base64,{base64String}")" alt="@($"фото: {instructor.FirstName} {instructor.LastName}")" class="img-responsive img-list-instructors"/>
                        }
                        else
                        {
                            <img src="img/paris.jpg" class="img-responsive img-list-instructors" alt="@($"фото: {instructor.FirstName} {instructor.LastName}")">
                        }
                    }
                </a>
                <div class="portfolio-caption" title="@instructor.Phone">
                    <h4>@($"{instructor.FirstName} {instructor.LastName}")</h4>
                    <div class="row text-muted text-right">
                        <span class="text-left pull-left">
                        @{
                            @Html.DisplayFor(x => instructor.AverageScore)
                        }
                        </span>
                        <span class="text-right pull-right">@($"{instructor.Price} р.")</span>
                    </div>
                    @{
                        var instructorUrl = Url.Action("Instructors", "Home", new { prettyUrl = instructor.UrlName }, Request?.Url?.Scheme);
                        var hrefFb = "http://www.facebook.com/sharer.php?u=" + instructorUrl;
                        var hrefVk = "http://vk.com/share.php?url=" + instructorUrl;
                        var hrefTwitter = "https://twitter.com/intent/tweet?text=Я%20учусь%20управлять%20автомобилем%20у%20инструктора%20" + $"{instructor.FirstName}%20{instructor.LastName}%20{instructorUrl}";
                    }
                    <ul class="list-inline social-buttons text-center">
                        <li title="Twitter">
                            <a href="@hrefTwitter"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li title="Facebook">
                            <a href="@hrefFb"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li title="VK">
                            <a href="@hrefVk"><i class="fa fa-vk"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        }
    </div>
</div>