@model IList<AutoCadet.Models.InstructorViewModel>
<div class="row carousel-row">
    <div id="instructorsCarousel" class="carousel slide col-md-12" data-ride="carousel" data-interval="false">
        @{
            var itemsCount = Model.Count;
            var itemsPerPage = 4;
            var itemsPerRow = 2;
            var pagesCount = itemsCount / itemsPerPage + (itemsCount % itemsPerPage > 0 ? 1 : 0);
        }
        <ol class="carousel-indicators">
            @for (var i = 0; i < pagesCount; i++)
            {
                <li data-target="#instructorsCarousel" data-slide-to="@i" class="@(i == 0 ? " active" : string.Empty)"></li>
            }
        </ol>
        <div class="carousel-inner" role="listbox">
            @{ var k = 0; }
            @for (var j = 0; j < pagesCount; j++)
            {
                <div class="item@(j == 0 ? " active" : string.Empty)">

                    @for (var i = 0; i < itemsPerPage; i+= itemsPerRow)
                    {
                        <div class="row">
                            @for (var r = 0; r < itemsPerRow; r++)
                            {
                                if (itemsCount <= k)
                                {
                                    break;
                                }
                                <div class="col-md-6 col-sm-6 portfolio-item">
                                    <a href="@Url.Action("Instructors", new {prettyUrl = Model[k].UrlName})" class="portfolio-link">
                                        <div class="portfolio-hover">
                                            <div class="portfolio-hover-content">
                                                <i class="fa fa-list fa-3x"></i>
                                            </div>
                                        </div>
                                        @if (!string.IsNullOrWhiteSpace(Model[k].ThumbnailImageName))
                                        {
                                            <img src="@($"/img/{Model[k].ThumbnailImageName}")" alt="@($"фото: {Model[k].FirstName} {Model[k].LastName}")"
                                                 class="img-responsive img-list-instructors" width="400" height="289"/>
                                        }
                                        else
                                        {
                                            <img src="/img/paris.jpg" alt="@($"фото: {Model[k].FirstName} {Model[k].LastName}")"
                                                 class="img-responsive img-list-instructors" width="400" height="289">
                                        }
                                    </a>
                                    <div class="portfolio-caption" title="@Model[k].Phone">
                                        <h4>
                                            @($"{Model[k].FirstName} {Model[k].LastName}")
                                            @if (Model[k].Price != null)
                                            {
                                                <span class="text-right pull-right text-danger">@($"{Model[k].Price} р.")</span>
                                            }
                                        </h4>
                                        <div class="row text-muted text-right">
                                            <span class="text-left pull-left">
                                                @{
                                                    @Html.DisplayFor(x => Model[k].AverageScore)
                                                }
                                            </span>
                                            <span class="text-right pull-right text-danger">@Model[k].Phone</span>
                                        </div>

                                        @{
                                            var pageUrl = Url.Action("Instructors", "Home", new {prettyUrl = Model[k].UrlName}, Request?.Url?.Scheme);
                                            Html.RenderPartial("_SocialButtons", pageUrl);
                                        }
                                    </div>
                                </div>
                                {
                                    k++;
                                }
                            }
                        </div>
                    }
                </div>
            }
        </div>
        @if (itemsCount / (double)itemsPerPage > 1)
        {
            <a class="right carousel-control" href="#instructorsCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            <a class="left carousel-control" href="#instructorsCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
        }
    </div>
</div>