@model AutoCadet.Models.HomePageViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ Html.RenderPartial("_IndexNavigation"); }
@{ Html.RenderPartial("_IndexHeader"); }

<section id="portfolio" class="bg-light-gray">
@{ Html.RenderPartial("_IndexInstructorsList", Model.InstructorGridItems.OrderByDescending(x => x.SortingNumber).ToList()); }
</section>

<!-- Services Section -->
<section id="services">
    @{ Html.RenderPartial("_IndexServicesList", Model.Services); }
</section>

<!-- Videos Section -->
<section id="videos" class="bg-light-gray">
    @{ Html.RenderPartial("_IndexVideosList", Model.VideosGridItems); }
</section>

<!-- Videos Section -->
<section id="blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Полезные советы</h2>
                <h3 class="section-subheading text-muted">добавляем...</h3>
            </div>
        </div>
        <div class="row">
        </div>
    </div>
</section>

<!-- Team Section -->
<section id="team" class="bg-light-gray">
@{ Html.RenderPartial("_IndexCommentsList", Model.Comments); }
</section>

    <!-- Contact Section -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Оставить Отзыв</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                @using (Html.BeginForm("AddComment", "Home", FormMethod.Post, new {name = "sentMessage", id = "addCommentForm"}))
                {
                    <div class="row">
                        <div id="addCommentError" class="alert alert-danger" role="alert" style="display: none">
                            Произошла ошибка. Попробуйте еще раз.
                        </div>
                        <div id="addCommentExists" class="alert alert-danger" role="alert" style="display: none">
                            Произошла ошибка. Такой коментарий уже существует.
                        </div>
                        <div id="addCommentSuccess" class="alert alert-success" role="alert" style="display: none">
                            Ваш Отзыв сохранен.
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Ваше имя и фамилия *" id="name" name="name" required data-validation-required-message="Уточните, пожалуйста как к вам обращаться.">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Ваш Email" id="email" name="email">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="tel" class="form-control" placeholder="Ваш Телефон" id="phone" name="phone">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                @Html.EditorFor(x => x.NewComment.Score)
                                <p class="help-block text-danger"></p>
                                <br/>
                            </div>
                            <div class="form-group">
                                <select name="instructorId" required class="dropdown form-control">
                                    <option value="" disabled selected>Ваш Инструктор</option>
                                    @foreach (var instructor in Model.InstructorGridItems.OrderBy(x => x.LastName))
                                    {
                                        <option value="@(instructor.Id)">@($"{instructor.LastName} {instructor.LastName}")</option>
                                    }
                                </select>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <textarea class="form-control" placeholder="Отзыв *" id="message" name="text" required data-validation-required-message="Что же Вы хотели сказать?"></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-xl">Сохранить</button>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

    <!-- Contact Section -->
<section id="callMe">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Перезвоните мне</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                @using (Html.BeginForm("CallMe", "Home", FormMethod.Post, new {name = "callMeMessage", id = "callMeForm"}))
                {
                    <div class="row">
                        <div id="addCallMeError" class="alert alert-danger" role="alert" style="display: none">
                            Произошла ошибка. Попробуйте еще раз.
                        </div>
                        <div id="addCallMeExists" class="alert alert-danger" role="alert" style="display: none">
                            Произошла ошибка. Ваш запрос уже обрабатывается либо нет возможности отправить сообщение. Запрос будет обработан в ручном режиме.
                        </div>
                        <div id="addCallMeSuccess" class="alert alert-success" role="alert" style="display: none">
                            Ваш Запрос отправлен.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Ваше Имя" id="requesterName" name="requesterName">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="tel" class="form-control" placeholder="Ваш Телефон" id="phone" name="phone" required>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <select name="instructorId" class="dropdown form-control">
                                    <option value="" disabled selected>Ваш Инструктор</option>
                                    @foreach (var instructor in Model.InstructorGridItems.OrderBy(x => x.LastName))
                                    {
                                        <option value="@(instructor.Id)">@($"{instructor.LastName} {instructor.LastName}")</option>
                                    }
                                </select>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <button type="submit" class="btn btn-xl">Отправить</button>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
