@using AutoCadet.Models
@model AutoCadet.Models.HomePageViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["MetaDescription"] = "Платные уроки вождения в Минске для начинающих с нуля от частных инструкторов!Запишись на дополнительные уроки вождения автомобиля для начинающих и сдай на права с первого раза!";
    ViewData["MetaKeywords"] = "уроки вождения автомобиля с инструктором для начинающих в Минске";
    ViewData["Title"] = "Уроки вождения с инструктором в Минске - Уроки вождения автомобиля для начинающих, стоимость";
}

@{ Html.RenderPartial("_IndexNavigation", Model.ShareEvent ?? new ShareEventViewModel()); }
@{ Html.RenderPartial("_IndexHeader"); }

<section id="portfolio" class="bg-light-gray">
    <div class="container section-container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <a href="@Url.Action("Instructors")">
                    <h2 class="section-heading">Наши инструкторы</h2>
                </a>
                <div class="col-lg-12 text-left text-muted">
                    <p class="large">На многочисленных форумах автомобилистов часто всплывают негативные отзывы про автошколы, в которых практика не принесла должного результата, а обучение обошлось в приличную сумму.</p>
                    <p class="large">Для тех, кто разочаровался в школе, не приобрел необходимые навыки, или просто желает научиться управлять автомобилем, мы предлагаем платные уроки вождения машины c автоинструктором.</p>
                    <p class="large">Зайдите в раздел сайта с описанием инструкторов, узнайте отзывы наших учеников и запишитесь в ряды будущих водителей уже сегодня. Мы не просто натренируем сдавать экзамен, мы научим водить автомобиль!</p>
                </div>
            </div>
        </div>
        @{ Html.RenderPartial("_IndexInstructorsList", Model.InstructorGridItems); }
        <div class="row">
            <div class="col-lg-12 text-left text-muted">
                <p class="large">Преподавательский состав имеет колоссальный опыт, благодаря которому получить права на механике не составит труда даже &quot;для чайников&quot;.</p>
                <p class="large">На курсы обучения вождению автомобиля в 2016-2017гг. определяется стоимость уроков вождения в индивидуальном порядке. Занятия с нашими инструкторами подходят для желающих сдать на права, вне зависимости от уровня подготовки ученика. У нас есть автокурсы:</p>
                <ul>
                    <li class="large">с обучением вождению для начинающих;</li>
                    <li class="large">с восстановлением навыков вождения;</li>
                    <li class="large">для тех, кому необходимо быстро научиться водить;</li>
                    <li class="large">для женщин, которые нуждаются в дополнительных уроках вождения МКПП с нуля.</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <a href="@Url.Action("Obuchenie")">
                    <h2 class="section-heading">Обучение</h2>
                    <h3 class="section-subheading text-muted">Нацеленность на результат</h3>
                </a>
            </div>
        </div>
        @*@{ Html.RenderPartial("_IndexObuchenieList", Model.Obuchenie?.OrderByDescending(x => x.SortingNumber).ToList()); }*@
        <div class="row">
            <div class="col-lg-12 text-left text-muted">
                <p class="large">Что дают уроки вождения автомобиля для начинающих с нуля:</p>
                <ul>
                    <li class="large">Разбор основных ошибок на практике при поездке по городу в темное время суток, при сильных осадках или при гололеде.</li>
                    <li class="large">Индивидуальные уроки вождения по маршрутам ГАИ.</li>
                    <li class="large">Хорошие цены и гибкую систему скидок для постоянных учеников.</li>
                    <li class="large">Теоретические материалы и уроки управления автомобилем (доступны в формате видео в соответствующем разделе).</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="Video" class="bg-light-gray">
    <div class="container section-container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <a href="@Url.Action("Video")">
                    <h2 class="section-heading">Видео уроки</h2>
                    <h3 class="section-subheading text-muted">Эх, прокачу!</h3>
                </a>
            </div>
        </div>
        @*@{ Html.RenderPartial("_IndexVideoList", Model.VideoGridItems?.OrderByDescending(x => x.SortingNumber).ToList()); }*@
        <div class="row">
            <div class="col-lg-12 text-center">
                <p class="large text-muted">Мы организуем дополнительные уроки вождения с инструктором в Минске по маршрутам ГАИ, для разбора основных хитростей вождения на данных участках.</p>
            </div>
        </div>
    </div>
</section>

<section id="blog">
    <div class="container section-container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <a href="@Url.Action("Blog")">
                    <h2 class="section-heading">Полезные советы</h2>
                    <h3 class="section-subheading text-muted">добавляем...</h3>
                </a>
            </div>
        </div>
        @*@{ Html.RenderPartial("_IndexBlogList", Model.Blogs?.OrderByDescending(x => x.SortingNumber).ToList()); }*@
        <div class="row">
            <div class="col-lg-12 text-center large text-muted">
                <p class="large text-muted">У нас с первых уроков действуют скидки в частном порядке: мы индивидуально подбираем систему бонусов. Например, обучение в автошколе предоставляет возможность после 4-ёх дополнительных занятий получить машину для сдачи в ГАИ бесплатно. Также стоимость на доп.занятия может быть снижена при неудовлетворительной сдаче экзамена в ГАИ.</p>
            </div>
        </div>
    </div>
</section>

<section id="comments" class="bg-light-gray">
    <div class="container section-container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Отзывы</h2>
                <h3 class="section-subheading text-muted">Всех послушай, но решай сам.</h3>
            </div>
        </div>
        @*@{ Html.RenderPartial("_IndexCommentsList", Model.Comments?.OrderByDescending(x => x.CreatedDate).ToList()); }*@
    </div>
</section>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Оставить Отзыв</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                @using (Html.BeginForm("AddComment", "Home", FormMethod.Post, new {name = "sentMessage", id = "addCommentForm"}))
                {
                    <div class="row">
                        <div id="addCommentError" class="alert alert-danger" role="alert" style="display: none">
                            Произошла ошибка. Попробуйте еще раз.
                        </div>
                        <div id="addCommentExists" class="alert alert-danger" role="alert" style="display: none">
                            Произошла ошибка. Такой коментарий уже существует.
                        </div>
                        <div id="addCommentSuccess" class="alert alert-success" role="alert" style="display: none">
                            Ваш Отзыв сохранен. Он появится на сайте после обработки администратором.
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <select name="instructorId" required class="dropdown form-control">
                                    <option value="" disabled selected>Ваш Инструктор</option>
                                    @foreach (var instructor in Model.InstructorGridItems.OrderBy(x => x.LastName))
                                    {
                                        <option value="@(instructor.Id)">@($"{instructor.LastName} {instructor.FirstName}")</option>
                                    }
                                </select>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Ваше имя и фамилия *" id="name" name="name" required data-validation-required-message="Уточните, пожалуйста как к вам обращаться.">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Ваш Email" id="email" name="email">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="tel" class="form-control" placeholder="Ваш Телефон" id="phone" name="phone">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                @Html.EditorFor(x => x.NewComment.Score)
                                <p class="help-block text-danger"></p>
                                <br />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <textarea class="form-control" placeholder="Отзыв *" id="message" name="text" required data-validation-required-message="Что же Вы хотели сказать?"></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group pull-right">
                                <button type="submit" class="btn btn-xl">Сохранить</button>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

<section id="callMe">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Перезвоните мне</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                @using (Html.BeginForm("CallMe", "Home", FormMethod.Post, new {name = "callMeMessage", id = "callMeForm"}))
                {
                    <div class="row">
                        <div id="addCallMeError" class="alert alert-danger" role="alert" style="display: none">
                            Произошла ошибка. Попробуйте еще раз.
                        </div>
                        <div id="addCallMeExists" class="alert alert-danger" role="alert" style="display: none">
                            Произошла ошибка. Ваш запрос уже обрабатывается либо нет возможности отправить сообщение. Запрос будет обработан в ручном режиме.
                        </div>
                        <div id="addCallMeSuccess" class="alert alert-success" role="alert" style="display: none">
                            Ваш Запрос отправлен.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Ваше Имя" id="requesterName" name="requesterName">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="tel" class="form-control" placeholder="Ваш Телефон" id="phoneCallMe" name="phone" required>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <select name="instructorId" class="dropdown form-control">
                                    <option value="" disabled selected>Ваш Инструктор</option>
                                    @foreach (var instructor in Model.InstructorGridItems?.Where(x => x != null).OrderBy(x => x.LastName))
                                    {
                                        <option value="@(instructor.Id)">@($"{instructor.LastName} {instructor.FirstName}")</option>
                                    }
                                </select>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <button type="submit" class="btn btn-xl">Отправить</button>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

@section scripts {
    <script type="text/javascript">
        (function ($) {
            $.ajax({
                type: 'GET',
                url: '/getobuchenieitems',
                success: function (data) {
                    $($('#services .container .row')[0]).after(data);
                }
            });
            $.ajax({
                type: 'GET',
                url: '/getvideoitems',
                success: function (data) {
                    $($('#Video .container .row')[0]).after(data);
                }
            });
            $.ajax({
                type: 'GET',
                url: '/getblogitems',
                success: function (data) {
                    $($('#blog .container .row')[0]).after(data);
                }
            });
            $.ajax({
                type: 'GET',
                url: '/getcommentsitems',
                success: function (data) {
                    $($('#comments .container .row')[0]).after(data);
                }
            });
        })(jQuery);
    </script>
}
