@model AutoCadet.Models.ObuchenieViewModel
@{
    Layout = "~/Views/Shared/_DetailsPageLayout.cshtml";
    ViewBag.HeaderTitle = Model.ListHeader;
    ViewBag.HeaderSubTitle = $"{Model.Metadata?.Title}";

    ViewData["MetaInfo"] = Model.Metadata?.Info;
    ViewData["MetaDescription"] = Model.Metadata?.Description;
    ViewData["MetaKeywords"] = Model.Metadata?.Keywords;
    ViewData["Title"] = Model.Metadata?.Title;
}

@{
    var pageUrl = Url.Action("Obuchenie", "Home", new {prettyUrl = Model.UrlName}, Request?.Url?.Scheme);
}

@section detailsH1 {
    <h1 class="section-heading">
        @(Model.Metadata?.H1)
    </h1>
    <span class="pull-right">
    @{ Html.RenderPartial("_SocialButtons", pageUrl); }
</span>
}

@section breadcrumb {
    <ul class="breadcrumb">
        <li>
            <a href="/">Главная</a>
        </li>
        <li>
            <a href="/obuchenie">Обучение</a>
        </li>
        <li class="active">@Model.ListHeader</li>
    </ul>
}
@section detailsH2 {
    <h2 class="section-subheading text-muted">
        <label>@Model.ListDescription</label>
    </h2>
}

<section class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-left">
                @Html.Raw(Model.DetailText)
            </div>
        </div>
        <div class="row text-center">
            @{ Html.RenderPartial("_SocialButtons", pageUrl); }
        </div>
    </div>
</section>

<section class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-left">
                <div id="disqus_thread"></div>

            </div>
        </div>
    </div>
</section>

@section scripts
{
    <script>
        var disqus_config = function() {
            this.page.url = '@(HttpContext.Current.Request.Url)';
            this.page.identifier = '@($"blog_{Model.UrlName}")';
            this.page.title = "@($"uroki-vozhdeniya.by obuchenie {Model.UrlName}")";
        };

        (function() { // DON'T EDIT BELOW THIS LINE
            const d = document;
            const s = d.createElement('script');
            s.src = '//localhost-10258.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
}