@model AutoCadet.Models.VideoLessonViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="no-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 align-center">
                <a class="btn btn-primary go-home" href="/">Уроки вождения</a>
            </div>
            <div class="col-lg-10 text-justify">
                <h2 class="section-heading text-primary">@($"{Model.ListHeader}")</h2>
                <h3 class="section-subheading text-right">
                    <i>@($"{Model.Metadata?.Title}")</i>
                </h3>
            </div>
        </div>
    </div>
</header>

<div class="container">

    <h1 class="section-heading">
        @(Model.Metadata?.H1)
        @{
            var instructorUrl = Url.Action("VideoLessons", "Home", new { prettyUrl = Model.UrlName }, Request?.Url?.Scheme);
            var hrefFb = "http://www.facebook.com/sharer.php?u=" + instructorUrl;
            var hrefVk = "http://vk.com/share.php?url=" + instructorUrl;
            var hrefTwitter = "https://twitter.com/intent/tweet?text=Я%20учусь%20управлять%20автомобилем%20у%20по%20видео%20" + $"{instructorUrl}";
        }
        <ul class="list-inline social-buttons text-center" style="float: right">
            <li title="Twitter">
                <a href="@hrefTwitter"><i class="fa fa-twitter"></i></a>
            </li>
            <li title="Facebook">
                <a href="@hrefFb"><i class="fa fa-facebook"></i></a>
            </li>
            <li title="VK">
                <a href="@hrefVk"><i class="fa fa-vk"></i></a>
            </li>
        </ul>
    </h1>

    <h2 class="section-subheading text-muted">
        <label for="average-score">Предлагаем ознакомится с уроком от наших инструкторов</label>
    </h2>
</div>

<!-- Portfolio Grid Section -->
<section id="person" class="bg-light-gray">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <iframe src="@Model.YoutubeUrl" width="420" height="315"></iframe>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-12">
                <embed src="@Model.YoutubeUrl" width="420" height="315"></embed>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-12">
                <object data="@Model.YoutubeUrl" width="420" height="315"></object>
            </div>
        </div>
        <div class="row text-center">
            <ul class="list-inline social-buttons text-center">
                <li title="Twitter">
                    <a href="@hrefTwitter"><i class="fa fa-twitter"></i></a>
                </li>
                <li title="Facebook">
                    <a href="@hrefFb"><i class="fa fa-facebook"></i></a>
                </li>
                <li title="VK">
                    <a href="@hrefVk"><i class="fa fa-vk"></i></a>
                </li>
            </ul>
        </div>
    </div>
</section>
