@model AutoCadet.Models.VideoLessonViewModel
@{
    Layout = "~/Views/Shared/_DetailsPageLayout.cshtml";
    ViewBag.HeaderTitle = Model.ListHeader;
    ViewBag.HeaderSubTitle = $"{Model.Metadata?.Title}";

    ViewData["MetaInfo"] = Model.Metadata?.Info;
    ViewData["MetaDescription"] = Model.Metadata?.Description;
    ViewData["MetaKeywords"] = Model.Metadata?.Keywords;
    ViewData["Title"] = Model.Metadata?.Title;
}

@{
    var instructorUrl = Url.Action("VideoLessons", "Home", new { prettyUrl = Model.UrlName }, Request?.Url?.Scheme);
    var hrefFb = "http://www.facebook.com/sharer.php?u=" + instructorUrl;
    var hrefVk = "http://vk.com/share.php?url=" + instructorUrl;
    var hrefTwitter = "https://twitter.com/intent/tweet?text=Я%20учусь%20управлять%20автомобилем%20по%20видео%20урокам%20тут%20" + $"{instructorUrl}";
}

@section detailsH1 {
    @(Model.Metadata?.H1)

    <ul class="list-inline social-buttons text-center pull-right">
        <li title="Twitter">
            <a href="@hrefTwitter"><i class="fa fa-twitter"></i></a>
        </li>
        <li title="Facebook">
            <a href="@hrefFb"><i class="fa fa-facebook"></i></a>
        </li>
        <li title="VK">
            <a href="@hrefVk"><i class="fa fa-vk"></i></a>
        </li>
    </ul>
}

@section breadcrumb {
    <ul class="breadcrumb">
        <li><a href="/">Главная</a></li>
        <li><a href="/videolessons">Видео уроки</a></li>
        <li class="active">@Model.ListHeader</li>
    </ul>


}
@section detailsH2 {
    <h2 class="section-subheading text-muted">
        <label for="average-score">Предлагаем ознакомиться с уроком от наших инструкторов</label>
        <span class="pull-right">
            наш инструктор проедим по маршруту №1
        </span>
    </h2>
}


<section id="person" class="bg-light-gray">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <div class="videoWrapper">
                    <embed src="@Model.YoutubeUrl" width="100%" height="349" />
                </div>
            </div>
        </div>
        <div class="row text-center">
            <ul class="list-inline social-buttons text-center">
                <li title="Twitter">
                    <a href="@hrefTwitter"><i class="fa fa-twitter"></i></a>
                </li>
                <li title="Facebook">
                    <a href="@hrefFb"><i class="fa fa-facebook"></i></a>
                </li>
                <li title="VK">
                    <a href="@hrefVk"><i class="fa fa-vk"></i></a>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                @Html.Raw(Model.Text)
            </div>
        </div>
    </div>
</section>
