@model AutoCadet.Models.VideoViewModel
@{
    Layout = "~/Views/Shared/_DetailsPageLayout.cshtml";
    ViewBag.HeaderTitle = Model.ListHeader;

    ViewData["MetaInfo"] = Model.Metadata?.Info;
    ViewData["MetaDescription"] = Model.Metadata?.Description;
    ViewData["MetaKeywords"] = Model.Metadata?.Keywords;
    ViewData["Title"] = Model.Metadata?.Title;
}

@{
    var pageUrl = Url.Action("Video", "Home", new {prettyUrl = Model.UrlName}, Request?.Url?.Scheme);
}

@section detailsH1 {
        <h1 class="section-heading">
            @(Model.Metadata?.H1)
        </h1>
}

@section breadcrumb {
    <ul class="breadcrumb">
        <li>
            <a href="/">Главная</a>
        </li>
        <li>
            <a href="/video">Видео уроки</a>
        </li>
        <li class="active">@Model.ListHeader</li>
    </ul>


}
@section detailsH2 {
    <h2 class="section-subheading text-muted">
        <label for="average-score">Предлагаем ознакомиться с уроком от наших инструкторов</label>
        <span class="pull-right">
            наш инструктор проедим по маршруту №1
        </span>
    </h2>
}


<section id="person" class="bg-light-gray">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <div class="videoWrapper">
                    <embed src="@Model.YoutubeUrl" width="100%" height="349"/>
                </div>
            </div>
        </div>
        <div class="row text-center">
            @{ Html.RenderPartial("_SocialButtons", pageUrl); }
        </div>
        <div class="row">
            <div class="col-md-12 text-left">
                @Html.Raw(Model.Text)
            </div>
        </div>
    </div>
</section>

<section class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-left">
                <div id="disqus_thread"></div>

            </div>
        </div>
    </div>
</section>

@section scripts
{
    <script type="text/javascript">
        var disqus_config = function() {
            this.page.url = '@(HttpContext.Current.Request.Url)';
            this.page.identifier = '@($"blog_{Model.UrlName}")';
            this.page.title = "@($"uroki-vozhdeniya.by video {Model.UrlName}")";
        };

        (function() { // DON'T EDIT BELOW THIS LINE
            const d = document;
            const s = d.createElement('script');
            s.src = '//http-uroki-vozhdeniya-by.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
}